doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.js')
    script(src='/myo.js')
  body
    block content
  script(src='/javascripts/myo_interface.js')
  script(src='/javascripts/three_interface.js')